@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@layer base {
  body {
    background: hsl(0, 0%, 94%);
    color: hsl(0, 0%, 5%);
    font-family: "Inter", sans-serif;
  }
}

@theme {
  --color-background: hsl(210 17% 94%);
  --color-card: hsl(0 0% 100%);

  --color-txt-primary: hsl(210 10% 23%);
  --color-txt-muted: hsl(208 7% 46%);

  --color-primary: hsl(0 94% 64%);
  --color-primary-hover: hsl(357, 100%, 45%);

  --color-primary-light: hsl(0, 100%, 94%);
  --color-primary-light-hover: hsl(0, 100%, 89%);

  --color-primary-foreground: hsl(0 0% 100%);

  --color-secondary: hsl(216, 100%, 58%);

  --color-border: hsl(218, 12%, 84%);
  --color-success: hsl(134 61% 40%);
  --color-success-hover: hsl(142, 100%, 33%);
}

@layer components {
  .btn-outline {
    @apply px-2 py-1 bg-primary-light hover:bg-primary-light-hover outline-none rounded ring ring-primary text-sm font-medium focus:ring-2 cursor-pointer;
  }

  .card {
    @apply bg-card rounded-xl shadow p-4 w-full border border-border hover:shadow-lg transition-all duration-300;
  }
}
